{% extends "base.html" %}
{% block content %}

<h1>Lisää hoito-ohje potilaalle {{potilas.nimi}}</h1>
<form method="post" action="{{base_path}}/potilas/{{potilas.id}}/uusiohje">

    <div class="form-group">
        <label>Päivämäärä</label>
        <input name ="paivamaara" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Hoito-ohje</label>
        <input name ="ohje" class="form-control" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>

<h3>{{error}}</h3>

{% endblock %}