{% extends "base.html" %}
{% block content %}
<h1>Kirjoita hoito-ohje</h1>
<form method="post" action="{{base_path}}/suunnitelmat/ohje">
    <div class="form-group">
        <label>Potilaan tunnus</label>
        <input class="form-control" value="1" type="text">
    </div>

    <div class="form-group">
        <label>Ohje</label>
        <textarea class="form-control">Ota lääke kahdesti päivässä.</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>

{% endblock %}
