{% extends "base.html" %}
{% block content %}
  <h1>Kirjoita raportti kotikäynnistä</h1>

  <form>
    <div class="form-group">
      <label>Potilaan nimi</label>
      <input class="form-control" value="Jussi" type="text">
    </div>
    <div class="form-group">
      <label>Päivämäärä</label>
      <input class="form-control" value="22.3.2015" type="text">
    </div>
    <div class="form-group">
      <label>Lääkärin nimi</label>
      <input class="form-control" value="Jukka" type="text">
    </div>
    <div class="form-group">
      <label>Raportti</label>
      <textarea class="form-control">Jussila oli jalka kipeänä.</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
