{% extends "base.html" %}
{% block content %}
<h1>Kirjoita raportti kotikäynnistä</h1>

<form method="post" action="{{base_path}}/tilaukset/{{tilaus.id}}/raportti">
    <div class="form-group">
        <div class="form-group">
            <label>Raportti</label>
            <textarea class="form-control" name="kuvaus" ></textarea>
        </div>
        <input type="hidden" name="kaynti_id" value="{{tilaus.id}}">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
</form>
{% endblock %}
