{% extends "base.html" %}
{% block content %}

<h1>Lisää potilas</h1>
<form method="post" action="{{base_path}}/potilas">
    <div class="form-group">
        <label>Nimi</label>
        <input name ="nimi" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Osoite</label>
        <input name ="osoite" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Sähköposti</label>
        <input name ="email" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input name ="salasana" class="form-control" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>

{% endblock %}