{% extends "base.html" %}
{% block content %}
<h1>MediHome</h1>
<br></br>
<button class="btn btn-success">Kirjaudu sisään</button>
<button class="btn btn-primary">Rekisteröidy</button>
<br></br>
<h1>Lääkärimme</h1>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td><button>Jukka Virtanen</button></td>
            
        </tr>
        <tr>
            <td><button>Heikki Heikkilä</button></td>
            
        </tr>
                <tr>
            <td><button>Kari Kari</button></td>
            
        </tr>
        
    </tbody>
</table>
{% endblock %}